<% for(var i = 0; i < users.length; i++) { %>
    <tr>
        <td><%= i + 1 %></td>
        <td><%= users[i].name %></td>
        <td><%= users[i].number %></td>
        <td><%= users[i].email %></td>
  
        <td>
            <a href="/update?id=<%= users[i]._id%>">
                <span class="text-gradient"><i class="fa-solid fa-pencil"></i></span>
            </a>
            
            <a href="/delete/<%= users[i]._id %>">
                <span class="text-gradient"><i class="fa-solid fa-trash"></i></span>
            </a>
        </td>
    </tr>
    <% } %>
<script src="js/list.js"></script>
