<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <%- include('./partials/fav.ejs') %>
  <link rel="stylesheet" href="css/style.css"/>
</head>
<body>

<%- include('./partials/header.ejs') %>
<main>
  
    <h3><%= title %></h3>

</main>

<%- include('./partials/footer.ejs') %>
<script src="js/service.js"></script>
</body>