<!-- Created: Yip Michelle Sze Nga
Student Number: 301226102
Subject: COMP229 - Web Application Development
Date: 10/08/2022
Institution: Centennial College-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <%- include('./partials/fav.ejs') %>
  <link rel="stylesheet" href="css/liststyle.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/1c77dcceaa.js" crossorigin="anonymous"></script>
</head>

<!--body-->
<body>

<%- include('./partials/header.ejs') %>

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
               <div class="filter">
                   <a href="/business"><i class="fa-solid fa-users"></i>All Users</a>
               </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Update User</h2>
                <span class="text-light">Use the below form to Update an account</span>
            </div>
    
            <!-- add user form -->
             <!-- form handling -->
     <form method="POST" id="update_user" >
        <div class="new_user">
            <div class="form-group">
                <label for="name" class="text-light">Name</label>
                <input type="hidden" id="id" name="id" value="<%= user._id %>">
                <input type="text" id="name" name="name" value="<%= user.name %>" placeholder="Michelle">
            </div>
            <div class="form-group">
                <label for="number" class="text-light">Contact Number</label>
                <input type="text" id="number" name="number" value="<%= user.number%>" placeholder="1234567">
            </div>
            <div class="form-group">
                <label for="email" class="text-light">Email</label>
                <input type="text" id="email" name="email" value="<%= user.email%>" placeholder="example@gmail.com">
            </div>
            <div class="form-group">
                <a href="/api/update">
                <button type="submit" id="<%= user._id %>" class="btn text-dark update">Save</button></a>
            </div>

            
            <div class="form-group">
                <a href="./business">
                    <button type="reset" id="reset" class="btn text-dark update">Cancel</button> 
                </a>
            </div>
          
          
        </div>
    </form>     
        </div>
    </main>
<%- include('./partials/footer.ejs') %>

</body>

</html>